<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<connectionStrings>
  <add name="FPYEntities" connectionString="metadata=res://*/FPY.csdl|res://*/FPY.ssdl|res://*/FPY.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HieuNghia\SQLEXPRESS;initial catalog=FPY;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="FPY.Properties.Settings.ManagementReportDBConnectionString"
    connectionString="Data Source=HieuNghia\SQLEXPRESS;Initial Catalog=ManagementReportDB;Integrated Security=True;TrustServerCertificate=True"
    providerName="System.Data.SqlClient" />
  <add name="FPY.Properties.Settings.FPYConnectionString" connectionString="Data Source=HieuNghia\SQLEXPRESS;Initial Catalog=FPY;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>